<nav class="navbar navbar-expand-md navbar-dark bg-dark" *ngIf="amLoggedIn">
    <span class="navbar-brand">Token Manager</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" (click)="isMenuCollapsed = !isMenuCollapsed"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <span class="nav-link" (click)="onLogoutClick()">
                    <i class="fas fa-sign-out-alt"></i> Log out
                </span>
            </li>
        </ul>
    </div>
</nav>