<div class="row">
    <div class="col-12 col-sm-8 col-md-10">
      <h2>Manage Tokens</h2>
    </div>
    <div class="col-4 col-sm-4 col-md-2">
      <div class="btn btn-block btn-info" (click)="onAddTokenClick()">
        Add New Token
      </div>
    </div>
  </div>
  
  
  <div class="row">
    <div class="col-12 mt-3 token-table">
        <div class="card p-2"> 
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                <thead>
                  <tr>
                    <th>App Name</th>
                    <th>Token</th>
                    <th>Expiry</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let token of tokens">
                    <td>{{ token.appName }}</td>
                    <td>{{ token.token }}</td>
                    <td>{{ displayLocalTokenDateTime(token.expiryUtc) }}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-info">Copy Token</button>
                            <button type="button" class="btn btn-warning">Refresh</button>
                            <button type="button" class="btn btn-danger">Delete</button>
                        </div>
                    </td>
                  </tr> 
                </tbody>
              </table>
        </div>
    </div>
  </div>
  
  
  
  